/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}
header p {
    font-size: 1.2em;
    margin: 20px;
    font-weight: bold;
}

h1, h2 {
    color: #4CAF50;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative; /* Change from fixed to relative */
}

.lazy-section {
    padding-top: 50px; /* Adjust as needed */
    display: block;
    text-align: center;
}

.lazy-image {
    max-width: 100%;
    height: auto;
}
